@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 * {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
	 font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(32, 46, 114);
  background: radial-gradient(
    circle,
    rgba(32, 46, 114, 1) 7%,
    rgba(11, 13, 23, 1) 20%,
    rgba(8, 9, 11, 1) 100%
  );
	overflow: hidden;
}
 .navbar {
	 position: fixed;
	 left: 0;
	 top: 0;
	 width: 100%;
	 z-index: 10;
	 height: 0.3rem;
}
 .navbar .menu {
	 max-width: 72rem;
	 width: 100%;
	 margin: 0 auto;
	 padding: 0 2rem;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 color: white;
}
 .navbar .menu .logo {
	 font-size: 1.1rem;
	 font-weight: 600;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 line-height: 4rem;
}
 .navbar .menu .logo span {
	 font-weight: 300;
}
 .navbar .menu .burger {
	 height: 4rem;
	 width: 3rem;
	 cursor: pointer;
	 display: flex;
	 align-items: center;
	 justify-content: flex-end;
}
 .navbar .menu .burger .bar {
	 width: 1.9rem;
	 height: 1.5px;
	 border-radius: 2px;
	 background-color: #eee;
	 transition: 2s;
	 position: relative;
}
 .navbar .menu .burger .bar::after, .navbar .menu .burger .bar::before {
	 content: '';
	 position: absolute;
	 width: inherit;
	 height: inherit;
	 background-color: #eee;
	 transition: 0.5s;
}
 .navbar .menu .burger .bar::after {
	 transform: translateY(9px);
}
 .navbar .menu .burger .bar::before {
	 transform: translateY(-9px);
}
 .container {
	 min-height: 100vh;
	 width: 100%;
   background-color: #485461;
   background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
	 transition: all 0.5s ease;
	 overflow: hidden;
	 transform-style: preserve-3d;
}
 .main {
	 position: relative;
	 width: 100%;
	 left: 0;
	 z-index: 5;
	 overflow: hidden;
	 transform-origin: left;
	 transform-style: preserve-3d;
	 transition: 0.5s;
	 border-radius: 25px;
}
 header {
	min-height: 100vh;
	width: 100vw;
	position: relative;
	border-radius: 25px;

}
 .header__one {
  background: rgb(78,147,246);
  background: radial-gradient(circle, rgba(78,147,246,1) 0%, rgba(77,119,168,1) 100%);
	 transition: all 0.5s ease;
	 width: calc(100vw + 60px);
	 height: calc(100vh + 60px);
	 z-index: -1;
	 filter: blur(25px);
	 border-radius: 25px;
}

.header__two {
	 background: url(../img/5.jpg) no-repeat top center / cover;
}
.header__three {
	 background: url(../img/2.jpg) no-repeat top center / cover;
}
.header__four {
	 background: url(../img/3.jpg) no-repeat top center / cover;
}
.header__five {
	 background: url(../img/4.jpg) no-repeat top center / cover;
}
.header__six {
	 background: url(../img/5.jpg) no-repeat top center / cover;
}
.header {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 background-color: rgba(43, 51, 59, .5);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .container .main header .header__item {
	 max-width: 35rem;
	 text-align: center;
	 color: white;
	 padding: 0 2rem;
}
 .container .main header .header__item .title {
	 font-size: 1rem;
}
 .btn {
	 position: absolute;
	 top: 30px;
	 left: 5%;
	 margin-top: 1rem;
	 padding: 0.6rem 1.6rem;
	 background-color: #1179e7;
	 border: none;
	 border-radius: 25px;
	 color: white;
	 text-transform: uppercase;
	 cursor: pointer;
	 text-decoration: none;
}
 .btn:hover {
	 background-color: #066bd8;
	 cursor: pointer;
}
.shadow {
	 position: absolute;
	 width: 100%;
	 height: 100vh;
	 top: 0;
	 left: 0;
	 transform-style: preserve-3d;
	 transform-origin: left;
	 transition: 1s;
	 /* background: rgb(224, 206, 206); */
}
/* .shadow.one {
	 z-index: -1;
	 opacity: 0.15;

}
.shadow.two {
	 z-index: -2;
	 opacity: 0.1;
} */
.links {
	 position: absolute;
	 width: 30%;
	 right: 0;
	 top: 0;
	 height: 100vh;
	 z-index: 2;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.links a {
	 margin-bottom: 20px;
	 text-decoration: none;
	 color: #eee;
	 padding: 0.07rem 0;
	 font-size: 1rem;
	 display: inline-block;
	 font-weight: 300;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 transition: 1s;
	 opacity: 0;
	 transform: translateY(10px);
	 animation: hide 0.5s forwards ease;
}


 .container .links ul {
	 list-style: none;
}
 .container.active .bar {
	 transform: rotate(360deg);
	 background-color: transparent;
}
 .container.active .bar::before {
	 transform: rotateY(0) rotate(45deg);
}
 .container.active .bar::after {
	 transform: rotateY(0) rotate(-45deg);

}
 .container.active .main {
	 animation: main-animation 1s ease;
	 cursor: pointer;
	 transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}
 .container.active .main:hover {
	 transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}
 .container.active .main:hover + .shadow.one {
	 transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}
 .container.active .shadow.one {
	 animation: shadow-one 0.6s ease-in-out;
	 transform: perspective(1300) rotateY(20deg) translateZ(215px) scale(0.5);
}
 .container.active .shadow.two {
	 animation: shadow-two 0.6s ease-in-out;
	 transform: perspective(1300) rotateY(20deg) translateZ(120px) scale(0.5);
}
 .container.active .links a {
	 animation: appear 0.5s forwards ease var(--i);
}
 .loading-text {
	 font-size: 50px;
	 color: #fff;
}
.dark-mode {

background: rgb(32,46,114);
background: radial-gradient(circle, rgba(32,46,114,1) 7%, rgba(11,13,23,1) 20%, rgba(8,9,11,1) 100%);
}
 @keyframes main-animation {
	 from {
		 transform: translate(0);
	}
	 to {
		 transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
	}
}
 @keyframes shadow-one {
	 0% {
		 transform: translate(0);
	}
	 5% {
		 transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
	}
	 100% {
		 transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
	}
}
 @keyframes shadow-two {
	 0% {
		 transform: translate(0);
	}
	 20% {
		 transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
	}
	 100% {
		 transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
	}
}
 @keyframes hide {
	 from {
		 opacity: 1;
		 transform: translateY(0px);
	}
	 to {
		 opacity: 0;
		 transform: translateY(10px);
	}
}
 @keyframes appear {
	 from {
		 opacity: 0;
		 transform: translateY(10px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0px);
	}
}
